.DS_Store
.Rhistory
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env

# Artifacts and outputs
artifacts/
*.joblib
*.graphml
*.xlsx
*.pdf

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# System
Thumbs.db
ehthumbs.db
Desktop.ini